@model STEP_DEMO.Models.OutcomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
    <title>Outcome</title>
</head>
<body>


    <form method="post" action="@Url.Action("Outcome", "Home")">
        <table id="numberInputTable" border="1">
            <tr>
                <th>SL</th>
                <th>KEY RESULT AREAS (KRA)<br />(Task and Personal Objectives)</th>
                <th>KEY PERFORMANCE<br /> INDICATORS (KPI) <br /> (Determine how KRA's to be<br />measured)</th>
            </tr>
            <tbody>
                @if (ViewBag.KraKpiData != null)
                {
                    int sl = 1;
                    foreach (var item in ViewBag.KraKpiData)
                    {
                        var kpiCount = item.KPIIs.Count;
                        <tr>
                            <td>@sl</td>
                            <td>@item.KRA</td>
                            <td>
                                <br />
                                @for (var i = 0; i < kpiCount; i++)
                                {
                                    <div>@item.KPIIs[i]</div>
                                    if (i < kpiCount - 1)
                                    {
                                        <hr>
                                    }
                                    <br />
                                }
                            </td>
                        </tr>
                        sl++;
                    }
                }
            </tbody>
        </table>
        <br />
    </form>

</body>
</html>
