<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden;
    }

    .main-panel {
        position: relative;
        z-index: 1;
        height: calc(100vh - 64px);
    }

    .bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        overflow: hidden;
    }

        .bg img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>

<script>
        window.onload = function() {
            var message = '@ViewBag.TagMessage';
            if (message) {
                alert(message);
            }
        };
</script>

<body>

    <div class="bg">
        <img src="~/Content/images/kpi_1.jpg" alt="">
    </div>
</body>
