@model KraKpiViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
    <style>
        .kpi-textarea {
            width: 100%;
            height: 100px;
        }

        .form-control {
            width: 80%;
            display: inline-block;
        }

@*        .submit-btn {
            width: auto;
            padding: 10px 20px;
            font-size: 16px;
        }*@

        #kra-kpi-table {
            margin-top: 20px;
        }

        .container {
            width: 100%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h4>New KRA and KPI Entry</h4>
        <br />

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>KEY RESULT AREAS (KRA)<br>(Task and Personal Objectives)</th>
                        <th>KEY PERFORMANCE INDICATORS (KPI)<br>(Determine how KRA's to be measured)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 1; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>
                                <input type="text" id="KRAs_@(i)" name="KRAs[@i]" class="form-control" />
                            </td>
                            <td>
                                <div>
                                    <label for="KPI">A</label>
                                    <textarea id="KPIs_@(i)_0" name="KPIs[@i][0]" class="form-control kpi-textarea"></textarea>
                                </div>
                                <div>
                                    <label for="KPI">B</label>
                                    <textarea id="KPIs_@(i)_1" name="KPIs[@i][1]" class="form-control kpi-textarea"></textarea>
                                </div>
                                <div>
                                    <label for="KPI">C</label>
                                    <textarea id="KPIs_@(i)_2" name="KPIs[@i][2]" class="form-control kpi-textarea"></textarea>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />

            if (@ViewBag.ApprovalSent)
            {
                <div class="alert alert-danger" role="alert">
                    <div class="form-group" style=" text-align: center;">
                        <input type="submit" hidden="hidden" value="Save" class="btn btn-primary submit-btn" />
                        <i class="fas fa-info-circle"></i> Already Sent for Approval
                    </div>
                </div>
            }
            else
            {
                <input type="submit" value="Save" class="btn btn-primary submit-btn" />
            }

@*            <div class="form-group" style=" text-align: center;">
                <input type="submit" value="Save" class="btn btn-primary submit-btn" />
            </div>*@
        }
    </div>
    <hr />

    @*    KRA KPI Data Display      *@


    <!--<div class="container">
        <table id="kra-kpi-table" class="table table-bordered table-light">
            <h3>List of KPA & KPI</h3>
            <thead>
                <tr>-->
    @*                    <th>SL NO.</th>*@
    <!--<th>KRA</th>
            <th>KPI</th>
        </tr>
    </thead>
    <tbody>
        if (ViewBag.KraKpiData != null)
        {
            var serialNo = 1;
            foreach (var item in ViewBag.KraKpiData)
            {
                <tr>-->
    @*                    <td>@serialNo</td>*@
    @* --at the rate here--*@
    <!--<td>item.KRA</td>
    </tr>
    foreach (var kpi in item.KPIIs)
    {
        <tr>
            <td></td>-->
    @* --at the rate here--*@
    <!--<td>kpi</td>
                            </tr>
                        }
                        serialNo++;
                    }
                }
            </tbody>
        </table>
    </div>-->

</body>
</html>